.rowPanel{
    width: 100%;
    height: 5em;
    top: 0;
    margin-top: 0em;
    border-top: 0em; 
}
.end{
    font-size: 30px;
    color: silver;
    font-family: 'Exo', sans-serif;
    text-shadow: 1px 1px 1px  white;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    place-items: center;
}
.panelMenu{
    width: 100%;
    height: 5em;
    background-color: #293863;
    border-bottom: 0.063em solid transparent;
    box-shadow: 0.313em 0.313em 1.25em 0em rgba(204, 48, 48, 0.8);
    position: fixed;
    top: 0;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em; 
    border-top: #293863;
    border-left: #293863;
    border-right: #293863;
    border-radius: 0em;  

    z-index: 100;
    transition: ease-in-out .5s;
}

.type-letterE{
    font-family: 'Exo', sans-serif;  
 }
 .type-bold{
    font-weight: bold;
 }
 .close-se{
    color: white!important; 
}
.m-card{
    margin-top: 1.555em;
}

.color-card{
    border: 0.20em solid #4d4848;
    border-radius: 0.8em;
    padding: 17;
    background-color: white;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.41), 0 5px 15px 0 rgba(0,0,0,.08);
}

.margenes-card{
    margin: 0.35em;
}


.datatable-crud-demo .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.datatable-crud-demo .product-image {
    width: 100px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.datatable-crud-demo .p-dialog .product-image {
    width: 150px;
    margin: 0 auto 2rem auto;
    display: block;
}

.datatable-crud-demo .confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.span-justify{
    text-align: center;
}