.tarjetas{
    display: flex;
    justify-content: center;
}

.contenedor-grid-tarjetas{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    justify-content: center;
    gap: 15px;

    margin: 15px
}