.contenedor-empresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .5s ease-in-out;
}

.contenedor-campos{

    width: 680px;
    display: flex;
    flex-direction: column;
}

.contenedor-elementos-subtitulo{
    margin-top: 10px;
    margin-bottom: 5px;

    color: var(--color_fondo);
}

.contenedor-botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;    
    margin-bottom: 20px;
}

.boton{
    width: 230px;
    height: 40px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    font-family: var(--fuente-titulos);
    font-size: 18px;
    color: var(--color_letra_fondo_oscuro);

    transition: .6s;
}

.boton:hover{
    cursor: pointer;
}

.elementos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    width: 300px;
    height: 28px;
    font-family: var(--fuente-subtitulos);
    outline: none;

}

.titulo-registro-empresa{
    font-size: 50px;
    margin: 20px;
    font-family: var(--fuente-titulos);
    color: var(--color_fondo);
}

.subtitulo{
    font-family: var(--fuente-subtitulos);
    font-size: 18px;
}

.boton-cancelar{
    color: var(--color-segundo-umss);
}

.boton-cancelar:hover{
    background-color: var(--color-segundo-umss);
    color: var(--color_letra_fondo_oscuro);
}

.boton-registrar{
    color: var(--color_fondo);
}

.boton-registrar:hover{
    background-color: var(--color_fondo);
    color: var(--color_letra_fondo_oscuro);
}

/* estilos para validacion*/

.formulario__grupo-input {
    position: relative;
  }

.formulario__input-error {
    
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
}

.formulario__mensaje-exito {
    font-size: 20px;
    color: #119200;
    display: none;
}

.mensaje-exito{
    display: flex;
    justify-content: center;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__mensaje-activo {
    display: block;
}

.input-error{
    border: 2px solid tomato;
}