.contenedor-empresa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .5s ease-in-out;
}

.contenedor-campos{

    width: 680px;
    display: flex;
    flex-direction: column;
}

.contenedor-elementos-subtitulo{
    margin-top: 10px;
    margin-bottom: 5px;

    color: var(--color_fondo);
}

.contenedor-botones{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;    
    margin-bottom: 20px;
}

.boton{
    width: 230px;
    height: 40px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    font-family: var(--fuente-titulos);
    font-size: 18px;
    color: var(--color_letra_fondo_oscuro);

    transition: .6s;
}

.boton:hover{
    cursor: pointer;
}

.elementos{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs {
    width: 300px;
    height: 28px;
    font-family: var(--fuente-subtitulos);
    outline: none;

}

.titulo-registro-empresa{
    font-size: 50px;
    margin: 20px;
    font-family: var(--fuente-titulos);
    color: var(--color_fondo);
}

.subtitulo{
    font-family: var(--fuente-subtitulos);
    font-size: 18px;
}

.boton-cancelar{
    color: var(--color-segundo-umss);
}

.boton-cancelar:hover{
    background-color: var(--color-segundo-umss);
    color: var(--color_letra_fondo_oscuro);
}

.boton-registrar{
    color: var(--color_fondo);
}

.boton-registrar:hover{
    background-color: var(--color_fondo);
    color: var(--color_letra_fondo_oscuro);
}