

.contenedor-deRegistro {
    width: 100%;
    max-width:1600px;
    margin: auto;
    overflow: hidden;
    display: flex;
}

.contedor-tituloDeRegistro {
    width: 50%;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    background-color: var(--color_fondo);
    color: white;
    margin-top: 0%;
    margin-block-end: 0%;
}

    .tituloDeRegistro {
        width: 90%;
        max-width: 1600px;
        margin: auto;
        overflow: hidden;
        margin-top: 40%;
        margin-left: 10%;
        display: flex;
    }

    .SolitudDeProductos-servicios {
        display: flex;
        margin-left: 5%;
        margin-right: 15%;
    }

.contenedor-formularioDeRegistro {
    width: 90%;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    background: whitesmoke;
}

    .solicitud__datos {
        padding: 5px;
        width: 80%;
        max-width: 1600px;
        margin: auto;
        overflow: hidden;
        margin-top: 3%;
    }

        /*.input-introducir-detalle {
            overflow-x: hidden;
            overflow-y: scroll;
        }*/
        .introducir-detalleDeRegistro {
            width: 95%;
            padding: 5px;
            /*border: none;*/
            border-bottom: 2px solid black;
            opacity: 0.5;
            resize: none;
        }

    .contenedor-fechaDeSolicitud {
        padding: 5px;
        width: 80%;
        max-width: 1600px;
        margin: auto;
        overflow: hidden;
    }
        .introducir-fechaDeSolicitud {
            /*width: 95%;*/
            padding: 5px;
            /*border: none;*/
            border-bottom: 2px solid black;
            opacity: 0.5;
        }

    /*.contenedro-responsableDeSolicitud {
        padding: 5px;
        width: 80%;
        max-width: 1600px;
        margin: auto;
        overflow: hidden;
    }*/
        .introducir-responsableDeSolicitud {
            width: 95%;
            padding: 5px;
            /*border: none;*/
            border-bottom: 2px solid black;
            opacity: 0.5;
        }

    /*.contenedor-monto {
        padding: 5px;
        width: 80%;
        max-width: 1600px;
        margin: auto;
        overflow: hidden;
    }*/
        .introducir-monto{
            width: 95%;
            padding: 5px;
            /*border: none;*/
            border-bottom: 2px solid black;
            opacity: 0.5;
        }

.contendor-botonesDeRegistro {
    padding: 25px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    display: flex;
}

    .boton-cancelarRegistro {
        margin-left: 53%;
    }

        .cancelarRegistro {
            /*color: red;*/
            background-color: red;
            font-size: 20px;
            cursor: pointer;
            border-radius: 5px;
            opacity: 0.8;
        }
        .cancelarRegistro:hover {
            opacity: 1;
        }

    .boton-solicitarRegistro {
        margin-left: 5%;
    }

        .solicitarRegistro {
            /*color: turquoise;*/
            background-color: turquoise;
            font-size: 20px;
            cursor: pointer;
            border-radius: 5px;
            opacity: 0.8;
        }
        .solicitarRegistro:hover {
            opacity: 1;
        }


/*mostrar errores*/

.solicitud__datos-imputs {
    position: relative;
}

.solicitud__validacionCampos-Estados {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.solicitud__datos-incorrecto .solicitud__h3 {
    color: red;
}

.solicitud__datos-incorrecto .solicitud__validacionCampos-Estados {
    color: red;
    opacity: 1;
}

.solicitud__datos-incorrecto .solicitud__dato {
    border: 3px solid red;
}

.dato-erroneo{
    border: 2px solid red;
}

.solicitud__dato-erroneo {
    font-size: 13px;
    margin-bottom: 0;
    display: none;
}

.solicitud__dato-erroneo-activo {
    display: block;
}

.solicitud__datos-correcto .solicitud__validacionCampos-Estados {
    color: green;
    opacity: 1;
}

/*Validacion de botones*/ 

.solicitud__mensaje {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    
    text-align: center;
}

.solicitud__mensaje-exitoso {
    font-size: 17px;
    color: green;
    display: none;
}

.mensaje-exitoso {
    display: flex;
    justify-content: center;
}

.solicitud__mensaje-activo {
    display: block;
}
