

.contenedor-deRegistro {
    width: 100%;
    max-width:1600px;
    margin: auto;
    overflow: hidden;
    display: flex;
}

.contedor-tituloDeRegistro {
    width: 50%;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    background-color: var(--color_fondo);
    color: white;
    margin-top: 0%;
    margin-block-end: 0%;
}

    .tituloDeRegistro {
        width: 90%;
        max-width: 1600px;
        margin: auto;
        overflow: hidden;
        margin-top: 40%;
        margin-left: 10%;
        display: flex;
    }

    .SolitudDeProductos-servicios {
        display: flex;
        margin-left: 5%;
        margin-right: 15%;
    }

.contenedor-formularioDeRegistro {
    width: 90%;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    background: whitesmoke;
}

    .contenedor-detalle {
        padding: 5px;
        width: 80%;
        max-width: 1600px;
        margin: auto;
        overflow: hidden;
        margin-top: 5%;
    }

        /*.input-introducir-detalle {
            overflow-x: hidden;
            overflow-y: scroll;
        }*/
        .introducir-detalleDeRegistro {
            width: 95%;
            padding: 5px;
            /*border: none;*/
            border-bottom: 2px solid black;
            opacity: 0.5;
            resize: none;
        }

    .contenedor-fechaDeSolicitud {
        padding: 5px;
        width: 80%;
        max-width: 1600px;
        margin: auto;
        overflow: hidden;
    }
        .introducir-fechaDeSolicitud {
            /*width: 95%;*/
            padding: 5px;
            /*border: none;*/
            border-bottom: 2px solid black;
            opacity: 0.5;
        }

    .contenedro-responsableDeSolicitud {
        padding: 5px;
        width: 80%;
        max-width: 1600px;
        margin: auto;
        overflow: hidden;
    }
        .introducir-responsableDeSolicitud {
            width: 95%;
            padding: 5px;
            /*border: none;*/
            border-bottom: 2px solid black;
            opacity: 0.5;
        }

    .contenedor-monto {
        padding: 5px;
        width: 80%;
        max-width: 1600px;
        margin: auto;
        overflow: hidden;
    }
        .introducir-monto{
            width: 95%;
            padding: 5px;
            /*border: none;*/
            border-bottom: 2px solid black;
            opacity: 0.5;
        }

.contendor-botonesDeRegistro {
    padding: 25px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    display: flex;
}

    .boton-cancelarRegistro {
        margin-left: 53%;
    }

        .cancelarRegistro {
            /*color: red;*/
            background-color: red;
            font-size: 20px;
            cursor: pointer;
            border-radius: 5px;
            opacity: 0.8;
        }
        .cancelarRegistro:hover {
            opacity: 1;
        }

    .boton-solicitarRegistro {
        margin-left: 5%;
    }

        .solicitarRegistro {
            /*color: turquoise;*/
            background-color: turquoise;
            font-size: 20px;
            cursor: pointer;
            border-radius: 5px;
            opacity: 0.8;
        }
        .solicitarRegistro:hover {
            opacity: 1;
        }
