

.contenedor-deRegistro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}

.contenedor-formularioDeRegistro {
    width: 600px;
    display: flex;
    flex-direction: column;
}

.contenedor-camposform-subtitulos {
    margin-top: 10px;
    margin-bottom: 5px;
    color: var(--color_fondo);
}

.contendor-botonesDeRegistro{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;    
    margin-bottom: 20px;
}

.botones-formulario {
    width: 230px;
    height: 40px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    font-family: var(--fuente-titulos);
    font-size: 18px;
    color: var(--color_letra_fondo_oscuro);
    transition: .6s;
}

.botones-formulario:hover {
    cursor: pointer;
}

.camposform {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
}

.entradas {
    width: 300px;
    height: 28px;
    font-family: var(--fuente-subtitulos);
    outline: none;
}

.solitudDeProductos-servicios {
    font-size: 50px;
    margin: 20px;
    font-family: var(--fuente-titulos);
    color: var(--color_fondo);
}

.subtitulos {
    font-family: var(--fuente-subtitulos);
    font-size: 16px;
}

.botondecancelar {
    color: var(--color-segundo-umss);
}

.botondecancelar:hover {
    background-color: var(--color-segundo-umss);
    color: var(--color_letra_fondo_oscuro);
}

.botondesolicitar {
    color: var(--color_fondo);
}

.botondesolicitar:hover {
    background-color: var(--color_fondo);
    color: var(--color_letra_fondo_oscuro);
}

/*para las validaciones de los campos*/

.solicitud__datos-imputs {
    position: relative;
    max-width: 300px;
}

.solicitud__dato-erroneo {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.solicitud__validacionCampos-Estados {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.solicitud__mensaje {
    height: 45px;
    line-height: 45px;
    background: #f66060;
    padding: 0 15px;
    border-radius: 3px;
    display: none;
    text-align: center;
}

.solicitud__mensaje-exitoso {
    font-size: 20px;
    color: #119200;
    display: none;
}

.mensaje-exitoso {
    display: flex;
    justify-content: center;
}

.solicitud__datos-incorrecto .solicitud__label {
    color: #bb2929;
}

.solicitud__datos-incorrecto .solicitud__validacionCampos-Estados {
    color: #bb2929;
    opacity: 1;
}

.solicitud__datos-incorrecto .solicitud__dato {
    border: 3px solid #bb2929;
}

.solicitud__dato-erroneo-activo {
    display: block;
}

.solicitud__datos-correcto .solicitud__validacionCampos-Estados {
    color: #1ed12d;
    opacity: 1;
}

.solicitud__mensaje-activo {
    display: block;
}

.dato-erroneo {
    border: 2px solid tomato;
}