.contenedor-principal-tarjeta{
    
    width: 220px;
    height: 250px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border-radius: 30px;
    box-shadow: 18px 18px 20px #d1d9e6, -18px -18px 20px #ffffff;

    display: flex;
    flex-direction: column;

    padding: 5px;
    margin: 10px;
}

.contenedor-subtitulo-tarjeta{
    text-align: center;
    font-size: 23px;
}

.subtitulos-tarjeta{
    color: var(--color_fondo);

}

.campos-tarjeta{
    margin: 2px;
}

.contenido-tarjeta{
    color: var(--color_contenido);
}