.rowPanel{
    width: 100%;
    height: 8em;
    top: 0;
    margin-top: 0em;
    border-top: 0em; 
}


.type-letter{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
 }
 
.closeSesion{
    color: white!important;
}
.card picture-login{
width: em;
}


.space-top{
    margin-top: 0.4em;
    height: auto;
}
/*caja ploma*/
.ppicture-login{
   
    width: 40em;
    height: auto;
    border-radius: 30px;
    color: var(--color_contenido);
    background-color: var(--color_fondo_cuadros);
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    border: 2px var(--color_fondo) solid;


}
.panelMenu{
    position: relative;
    left: 0em;
}



/*modelo anterior*/
.contenedorFormulario-RegistroUsuario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: .5s ease-in-out;
    background-attachment: fixed;
    margin: 0.4em;
    
}

.contenedorCampos {
    
    display: flex;
    flex-direction: column;
    position: relative;
   
    align-content: space-between;
    justify-content: center;
    background-attachment: fixed;

    text-align: center;
    align-items: center;
    
}

.contenedorElementosNuevosUsuarios_subtitulos{
    /*
    margin-bottom: 5px;
    color: var(--color_fondo);
    position: relative;
  */
  color: var(--color_fondo);
  margin-top: -12px;
  position: relative;
  left: -1.5em;

}

.formularioNuevoUsuario__grupo-input{
    position: relative;
    left:  9.5em;
    position: relative;
    top: -2.188em;  
}

.titulo_registro_usuario{
    font-size: 3.125em;
    margin: 0.45em;
  
    font-family: var(--fuente-titulos);
    color: var(--color_fondo);
    text-align: center;
    
}

._subtitulos{
    font-family: var(--fuente-subtitulos);
    font-size: 20px;  
    position: relative;
    left: 10em;
    

}


.elementosFormularioUsuarios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5em;
    left: 3em;
}


.ingreso{
    width: 15.75em;
    height: 1.875em;
    font-family: var(--fuente-subtitulos);
    
}

.formularioNuevoUsuario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formularioNuevoUsuario__input-error-activo{
    display: block;
}


.input-error {
    border: 2px solid tomato;
}
.contenedor-button{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;    
    margin-bottom: 20px;
}





/* botones */

.botoncito{
    width: 10.375em;
    height: 2.2em;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    font-family: var(--fuente-titulos);
    font-size: 18px;
    color: var(--color_letra_fondo_oscuro);

    transition: .6s;
}

.botoncito:hover{
    cursor: pointer;
}


.botoncito-cancelar{
    color: var(--color-segundo-umss);
    position: relative;
    left: -12px;
    top: -10px;
}

.botoncito-cancelar:hover{
    background-color: var(--color-segundo-umss);
    color: var(--color_letra_fondo_oscuro);
}

.botoncito-registrar{
    color: var(--color_fondo);
    position: relative;
    left: 12px;
    top: -10px;
}

.botoncito-registrar:hover{
    background-color: var(--color_fondo);
    color: var(--color_letra_fondo_oscuro);
}











