.contenedor-principal-tarjetaE{
    
    width: 250px;
    height: 280px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border-radius: 30px;
    box-shadow: 18px 18px 20px #d1d9e6, -18px -18px 20px #ffffff;

    display: flex;
    flex-direction: column;

    padding: 5px;
    margin: 10px;
}

.contenedor-subtitulo-tarjetaE{
    font-family: var(--fuente-titulos);
    text-align: center;
    font-size: 17px;
}

.subtitulos-tarjetaE{
    color: var(--color_fondo);
}

.campos-tarjetaE{
    margin: 2px;
    font-family: var(--fuente-subtitulos);
    font-size: 15px;
}

.contenido-tarjetaE{
    color: var(--color_contenido);
}