


.formularioNuevoUsuario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}


.formularioNuevoUsuario__input-error-activo{
    display: block;
}

.input-error {
    border: 2px solid tomato;
}

