.tarjetas-info{
    display: flex;
    justify-content: center;
}

.contenedor-grid-tarjetas-info{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    justify-content: center;
    gap: 15px;

    margin: 15px
}

.contenedor-info{
    width: 250px;
    height: 150px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .5px solid rgb(170, 159, 159);
    border-radius: 30px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    box-shadow: 18px 18px 20px #d1d9e6, -10px -10px 16px #ffffff;
}

.cont-info-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icono-info{
    font-size: 40px;
    color: var(--color_contenido);
}

.label-info-titulo{
    font-size: 25px;
    color: var(--color_contenido)
}

.cont-info-subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

.label-info-subtitulo{
    font-size: 35px;
    display: block;
    margin: 0;
    color: var(--color_fondo)
}