
.registro-empresa{
    width: 270px;
    height: 40px;
    border-radius: 5px;
    /*margin-left: -150px;*/
    cursor: pointer;
    transition: .5s;

    background-color: var(--color_fondo);
    color: var(--color_letra_fondo_oscuro);
    font-family: var(--fuente-titulos);
    font-size: 20px;
    text-shadow:1px 1px 1px var(--color-sombras-titulos);
    margin: 10px;
}

.contenedor-botones-barra-izquierda{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

  /*boton para solicitud de productos y/o servicios
.Registro-solicitud-productosServicios{
    width: 270px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;

    background-color: var(--color_fondo);
    color: var(--color_letra_fondo_oscuro);
    font-family: var(--fuente-titulos);
    font-size: 20px;
    text-shadow:1px 1px 1px var(--color-sombras-titulos);
    margin: 10px;
}*/