
.registro-empresa{
    width: 270px;
    height: 40px;
    border-radius: 30px;
    /*margin-left: -150px;*/
    cursor: pointer;
    

    background-color: var(--color_fondo);
    color: var(--color_fondo_cuadros);
    font-family: var(--fuente-titulos);
    font-size: 20px;
    text-shadow:1px 1px 1px var(--color-sombras-titulos);
    margin: 10px;
    box-shadow: 18px 18px 20px #d1d9e6, -10px -10px 20px #ffffff;

    transition: .5s ease;
}

.contenedor-botones-barra-izquierda{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

  /*boton para solicitud de productos y/o servicios*/
.Registro-solicitud-productosServicios{
    width: 270px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;

    background-color: var(--color_fondo);
    color: var(--color_letra_fondo_oscuro);

    font-family: var(--fuente-titulos);
    font-size: 20px;
    
    text-shadow:1px 1px 1px var(--color-sombras-titulos);
    margin: 10px;
    
}

.estilo-boton-click{
    width: 270px;
    height: 40px;
    border-radius: 30px;
    border: none;
    
    cursor: pointer;
    
    background: #e3e6ec;
    color: var(--color_fondo);

    font-family: var(--fuente-titulos);
    font-size: 20px;
    font-weight: 600;

    text-shadow:1px 1px 1px var(--color-sombras-titulos);
    margin: 10px;
    box-shadow: 18px 18px 20px #d1d9e6, -10px -10px 20px #ffffff;
}

.registro-empresa:hover{
    font-weight: 600;
    background: #e3e6ec;
    color: var(--color_fondo);
    border: none;
}