*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #293863;
    --color_letra_fondo_oscuro: silver;

    --color_fondo: var(--azul);

    --ruta_logo_umss: './src/Imagenes/UMSS_logo.png'
}

.contenedor {
    max-width: 1600px;
    margin: auto;
    overflow: hidden; 
}

nav {
    width: 100%;
    height: 80px;
    background-color: var(--color_fondo);
    border-bottom: 1px solid transparent;
    box-shadow: 5px 5px 20px 0 rgba(204, 48, 48, 0.8);
    position: fixed;
    top: 0;  

    z-index: 100;
    transition: ease-in-out .5s;
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 80%;
    align-items: center;
    padding: 0 40px;
}

.nav .logo {
    height: 80px;
}

.nav .logo img {
    height: 90%;
    vertical-align: top;
    margin-top: 5px;
}

.enlaces-header {
    font-weight: 300;
    transition: ease-in-out .5s;
}

.nav .enlaces-header a{
    text-decoration: none;
    color: var(--color_letra_fondo_oscuro);
    margin-left: 20px;
    font-family: var(--fuente-titulos);
    font-weight: 300;
    font-size: 15px;
    text-shadow: 1px 1px 1px  var(--color-sombras-titulos);

    transition: .5s ;
}

.titulo {
    font-size: 30px;
    color: var(--color_letra_fondo_oscuro);
    font-family: var(--fuente-titulos);
    text-shadow: 1px 1px 1px  var( --color-sombras-titulos);
}

.icono-login {
    margin-left: 10px;

    
    color: var(--color_letra_fondo_oscuro);
    text-shadow: 1px 1px 1px  var( --color-sombras-titulos);
}

.nav .enlaces-header a:hover {
    font-size: 20px;
}

header {
    margin-bottom: 100px;
}

/*  Estilos boton hamburguesa*/
.contenedor-hamburguesa{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icono-hamburguesa{
    margin-left: 20px;


    font-size: 30px;
    color: #ecf0f3;
    transition: .5s;
}

.icono-hamburguesa:hover{
    cursor: pointer;
    font-size: 40px;
    
}

.boton-icono{
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido{
    width: 1200px;
    border: 2px solid var(--color_fondo);
    height: 400px;
    position: absolute;
}

.contenedorS{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: solid 2px var(--color_fondo);
    width: 300px;
    position: absolute;
    z-index: 3;
    top: 12%;
    transition: .4s ;
    left: 0px;
    margin: 10px;
    background-color: var(--color_fondo_cuadros);
}


.contenedor-botones-oculto{
    display: flex;
    flex-direction: column;
    border: solid 2px var(--color_fondo);
    width: 360px;
    position: absolute;
    z-index: 3;
    top: 10%;
    transition: .3s ;
    left: -360px;
    justify-content: center;
}

.boton-barra{
    width: 240px;
    height: 40px;
    border-radius: 30px;
    /*margin-left: -150px;*/
    cursor: pointer;
    

    background-color: var(--color_fondo);
    color: var(--color_fondo_cuadros);
    font-family: var(--fuente-titulos);
    font-size: 14px;
    text-shadow:1px 1px 1px var(--color-sombras-titulos);
    margin: 7px;
    box-shadow: 10px 10px 12px #d1d9e6, -10px -10px 12px #ffffff;

    transition: .5s;
}

.boton-barra:hover{
    background: #e3e6ec;
    color: var(--color_fondo);
    border: none;
}
