.rowPanel{
    width: 100%;
    height: 5em;
    top: 0;
    margin-top: 0em;
    border-top: 0em; 
}
.end{
    font-size: 30px;
    color: silver;
    font-family: 'Exo', sans-serif;
    text-shadow: 1px 1px 1px  white;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    place-items: center;
}
.panelMenu{
    width: 100%;
    height: 5em;
    background-color: #293863;
    border-bottom: 0.063em solid transparent;
    box-shadow: 0.313em 0.313em 1.25em 0em rgba(204, 48, 48, 0.8);
    position: fixed;
    top: 0;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em; 
    border-top: #293863;
    border-left: #293863;
    border-right: #293863;
    border-radius: 0em;  

    z-index: 100;
    transition: ease-in-out .5s;
}

.type-letter{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
 }
 .close-se{
    color: white!important; 
}
.margin-card{
    margin-top: 3.125em;
}
.color-card{
    border: 0.20em solid #4d4848;
    border-radius: 0.8em;
    padding: 17;
    background-color: white;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.41), 0 5px 15px 0 rgba(0,0,0,.08);
    margin:0.57em;
}
.m-span{
    margin-top: 1.0em;
}
.m-botton-add{
    margin-top: 1.5em ;
    margin-left: 1.5em;
}
.btn-flot{
    position: fixed; 
    top: 2%;
    right: 17%;
    z-index: 100
}