.tarjeta-solicitud{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border: 2px solid #293863;
    width: 300px;
    border-radius: 30px;
    box-shadow: 18px 18px 20px #d1d9e6, -10px -10px 15px #ffffff;
}

.contenedor-overflow{
    height: 100px;
    overflow: auto;
}

.contenedor-estado-solicitud{
    height: 35px;
    background-color: #293863;
    text-align: center;
    color: white;
    font-size: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -5px;
    margin-left: -3px;
    width: 302px;
    font-family: var(--fuente-titulos);
    z-index: 3;
}

.contenedor-campos-solicitud{
    display: flex;
    flex-direction: column;
    color: #293863;
    margin: 5px;
}

.subtitulos-solicitud{
    font-family: var(--fuente-titulos);
}

.contenido-de-solicitudes{
    display: flex;
    justify-content: center;

    color: #185adb;
    margin: 5px;

    font-family: var(--fuente-subtitulos);
}

.contenedor-botones-cambio-estado{
    display: flex;
    justify-content: space-evenly;
    display: flex;
    
}

.Boton-estado-solicitud{
    margin: 8px;
    height: 25px;
    width: 120px;
    box-shadow: 5px 5px 20px silver;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 15px;
    font-family: var(--fuente-titulos);
}

.boton-aprobar-solicitud{
    color: white;
    background-color: #A9E159;
    transition: .5s;
}

.boton-rechazar-solicitud{
    
    color: white;
    transition: .5s;
    background-color: #EC1B23;
}

.boton-aprobar-solicitud:hover {
    cursor: pointer;
    color: white;
    border: #A9E159;
}

.boton-rechazar-solicitud:hover{
    color: white;
    padding: 0;
}