.tarjeta-solicitud-aprobado{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border: 2px solid #A9E159;
    width: 250px;
    border-radius: 30px;
    box-shadow: 18px 18px 20px #d1d9e6, -10px -10px 15px #ffffff;
}



.contenedor-estado-solicitud-aprobado{
    height: 35px;
    background-color: #A9E159;
    text-align: center;
    color: white;
    font-size: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -5px;
    margin-left: -2px;
    width: 250px;
}





.contenedor-campos-solicitud{
    display: flex;
    flex-direction: column;
    color: #293863;
    margin: 5px;
    height: 300px;
}

.contenido-de-solicitudes{
    display: flex;
    justify-content: center;

    color: #185adb;
    margin: 5px;
}

/* Estilos para tarjetas Rechazadas*/

.tarjeta-solicitud-rechazado{
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    border: 2px solid #EC1B23;
    width: 250px;
    border-radius: 30px;
    box-shadow: 18px 18px 20px #d1d9e6, -10px -10px 15px #ffffff;
}

.contenedor-estado-solicitud-rechazado{
    height: 35px;
    background-color: #EC1B23;
    text-align: center;
    color: white;
    font-size: 25px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin-top: -5px;
    margin-left: -1px;
    width: 250px;
}
.botoncitooss{
  
    
    position: static;
    
  bottom: 0;
}