.rowPanel{
    width: 100%;
    height: 5em;
    top: 0;
    margin-top: 0em;
    border-top: 0em; 
}
.end{
    font-size: 30px;
    color: silver;
    font-family: 'Exo', sans-serif;
    text-shadow: 1px 1px 1px  white;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    place-items: center;
}
.panelMenu{
    width: 100%;
    height: 5em;
    background-color: #293863;
    border-bottom: 0.063em solid transparent;
    box-shadow: 0.313em 0.313em 1.25em 0em rgba(204, 48, 48, 0.8);
    position: fixed;
    top: 0;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em; 
    border-top: #293863;
    border-left: #293863;
    border-right: #293863;
    border-radius: 0em;  

    z-index: 100;
    transition: ease-in-out .5s;
}


.container-margen{
    margin-top: 1.5em;
}

.picture-login{
    border: 0.20em solid #4d4848;
    border-radius: 4em;
    padding: 17;
    background-color: white;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.41), 0 5px 15px 0 rgba(0,0,0,.08);
 }

.text-title{
    text-align: center;
    font-size: xx-large;
    margin-top: 0.5em;
}

.imagen{
    width: 11em;
    height: 8em;
    margin-left: 9em;
    margin-right: 9em;
    margin-top: 0.15em;
}

.p-email {
    width: 14em;
}
.p-password {
    width: 14em;
}

.alinacion-centro{
    align-items: center;
}

.margin-top{
    margin-top: 1em;
}
.fondo-heder-footer{
    font-size: 1em;
}

.type-letter{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
 }



 .entrada{
    margin-right: 6.0em; 
    width: 15em;
    height: 3em;
 }
 .margen-entrada{
     margin-top: 1.08em;
 }
 .margen-superior{
    margin-top: 0.50em;
}
 .boton-ingreso{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 1.08em;
 }
 .boton{
     width: 8em;
     height: 3em;
     background-color: #D13639;
     border-color: #D13639;
 }
 .icono{
     margin-top: 0.40em;
     margin-left: 1.9em;

 }
.recuerdame{
    margin-left: 5.0em;
}
.borde-texto{
    margin-left: 1.2em;
    font-size: large;
}
