.rowPanel{
    width: 100%;
    height: 5em;
    top: 0;
    margin-top: 0em;
    border-top: 0em; 
}
.end{
    font-size: 30px;
    color: silver;
    font-family: 'Exo', sans-serif;
    text-shadow: 1px 1px 1px  white;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    place-items: center;
}
.panelMenu{
    width: 100%;
    height: 5em;
    background-color: #293863;
    border-bottom: 0.063em solid transparent;
    box-shadow: 0.313em 0.313em 1.25em 0em rgba(204, 48, 48, 0.8);
    position: fixed;
    top: 0;
    margin-top: 0em;
    margin-left: 0em;
    margin-right: 0em; 
    border-top: #293863;
    border-left: #293863;
    border-right: #293863;
    border-radius: 0em;  

    z-index: 100;
    transition: ease-in-out .5s;
}


.container-margen{
    margin-top: 1.5em;
}

.picture-login{
    border: 0.20em solid #4d4848;
    border-radius: 4em;
    padding: 17;
    background-color: white;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,.41), 0 5px 15px 0 rgba(0,0,0,.08);
 }

.text-title{
    text-align: center;
    font-size: xx-large;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
}

.imagen{
    width: 11em;
    height: 8em;

}
.imagen-position{
    margin-top: 0.15em;
    align-items: center;
    text-align: center;
}

.p-email {
    width: 16em;
}
.label-email{
    margin-left: 1%;
    font-size: large;
}
.icon-email{
    margin-left: 1%;
}
.p-password {
    width: 16em; 
}
.label-password{
    margin-left: 1%;
    font-size: large;
}
.icon-password{
    margin-right: 0.5%;
}

.margin-top{
    margin-top: 1em;
}
.margin-top-items{
    margin-top: 1.8em;
}
.margin-position-input{   
    text-align: center;
}


.type-letter{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
 }


 .boton-ingreso{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 1.08em;
 }
 .boton{
     width: 8em;
     height: 3em;
     background-color: #D13639;
     border-color: #D13639;
 }

.remember{
    margin-left: 25%;
}
.button{
    margin-left: 32%;
    margin-bottom: 1.0em;
}

